@use "../variables/mixins";
@use "../variables/vars";

// Button
.btn {
  background-color: vars.$tone-color;
  border-radius: vars.$border-rounded-20;
  border: 0;
  box-shadow: 0 mixins.rem(8px) mixins.rem(16px) rgba(vars.$tone-color, .15), 
              0 mixins.rem(2px) mixins.rem(4px) rgba(vars.$tone-color, .15);
  color: vars.$white-color;
  cursor: pointer;
  font-size: mixins.rem(16px);
  font-weight: vars.$weight-400;
  line-height: inherit;
  padding: mixins.rem(15px) mixins.rem(32px) mixins.rem(14px);
  position: relative;
  transition: .4s ease-in-out;
  white-space: nowrap;
  
  &:hover {
    color: vars.$white-color;
	box-shadow: none;
	opacity: .9;
  }
  
  &:focus {
    box-shadow: 0 mixins.rem(24px) mixins.rem(40px) rgba(vars.$tone-color, .1), 
                0 mixins.rem(8px) mixins.rem(16px) rgba(vars.$tone-color, .1);
  }
  
  &::before {
    content: '';
	box-shadow: 0 mixins.rem(4px) mixins.rem(32px) rgba(vars.$tone-color, .25),
	            0 mixins.rem(4px) mixins.rem(16px) rgba(vars.$tone-color, .25);
	margin: 0 auto;
	height: mixins.rem(16px);
	@include mixins.position(absolute, $left: 0, $bottom: 0, $right: 0);
	transition: .4s ease-in-out;
	width: 64%;
	z-index: -1;
  }
  
  &:hover::before {
    box-shadow: none;
  }
  
  &--light {
    background-color: vars.$gray-100-color;
	color: vars.$black-color;
  }  
  
  &--gray {
    background-color: vars.$gray-200-color;
	color: vars.$black-color;
  }  
  
  &--dark {
    background-color: vars.$black-color;
  }
  
  &--blue-gradient {
    background-size: 200% auto;
    background-image: vars.$gradient-1;
  }
  
  &--red {
    background-color: vars.$red-color;
	color: vars.$white-color;
  }  
  
  .font-icon {
    margin-right: mixins.rem(6px);
  }
}

button:focus {outline: none;}