@use "../variables/media";
@use "../variables/mixins";
@use "../variables/vars";

/* -----------------------------------------------------------------
    - Cases
----------------------------------------------------------------- */

.case-item {
  @include mixins.flex();
  height: calc(100% - mixins.rem(30px));
  margin-bottom: mixins.rem(30px);
  padding: mixins.rem(30px) mixins.rem(30px) mixins.rem(24px);
  position: relative;
  
  @media only screen and (max-width: media.$large) {
    height: calc(100% - mixins.rem(20px));
  }
  
  @media only screen and (max-width: media.$small) {
    @include mixins.flex($align: center, $direction: column);
    height: calc(100% - mixins.rem(20px));
	margin-bottom: mixins.rem(20px);
	padding: mixins.rem(16px);
	text-align: center;
  }  
  
  &__icon {
    $size: mixins.rem(40px);
	margin-right: mixins.rem(19px);
	height: $size;
	width: $size;
	
	@media only screen and (max-width: media.$small) {
	  margin-right: 0;
      margin-bottom: mixins.rem(13px);
	}
  }
  
  div {
    flex: 1;
  }
  
  &__caption {
    color: vars.$gray-400-color;

	line-height: 1.5;
  }
  
  &__caption:last-child {
    margin-bottom: 0;
  }
}