@use "../variables/media";
@use "../variables/mixins";
@use "../variables/vars";

/* -----------------------------------------------------------------
    - Clients
----------------------------------------------------------------- */

.js-carousel-clients {
  padding-top: mixins.rem(8px);
  padding-bottom: mixins.rem(16px);

  .swiper-slide {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-family: vars.$font-additional;
      font-weight: 600;
      img {
        margin-right: 8px;
      }
    }
    @media only screen and (max-width: media.$small) {
      text-align: center;
    }
  }
}
