@use "../variables/media";
@use "../variables/mixins";

/* -----------------------------------------------------------------
    - Contact
----------------------------------------------------------------- */

.contact-form {
  .btn {
    @media only screen and (max-width: media.$medium) {
	  width: 100%;
	}
  }

  .tabcontent & {
    padding-bottom: mixins.rem(30px);

	@media only screen and (max-width: media.$small) {
	  padding-bottom: mixins.rem(20px);
	}
  }
}
