@use "../variables/media";
@use "../variables/mixins";
@use "../variables/vars";

/* -----------------------------------------------------------------
    - Form
----------------------------------------------------------------- */

// Input Text
%formStyle {
  background-color: vars.$gray-100-color;
  border: 1px solid vars.$gray-100-color;
  border-radius: vars.$border-rounded-20;
  box-shadow: none;
  color: vars.$black-color;
  font-size: inherit;
  height: auto;
  padding: mixins.rem(14px) mixins.rem(22px) mixins.rem(13px);
  position: relative;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
		  
  @media only screen and (max-width: media.$small) {
    padding: mixins.rem(13px) mixins.rem(22px) mixins.rem(12px);
  }  
}

%formStyle-focus {
  background-color: vars.$gray-100-color;
  color: vars.$black-color;
  box-shadow: none;
  outline: none;
}

.input {
  @extend %formStyle;
  line-height: inherit;
  
  &:focus {
    @extend %formStyle-focus;
  }
  
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 0;
  }
  
  &--white {
    background-color: vars.$white-color;
	
	&:focus {
	  background-color: vars.$white-color;
	}
  }
  
  &__icon {
    padding-left: mixins.rem(54px);
	
	@media only screen and (max-width: media.$small) {
	  padding-left: mixins.rem(45px);
	}
  }
}

.textarea {
  @extend %formStyle;
  border-radius: vars.$border-rounded-20;
  display: block;
  padding: mixins.rem(13px) mixins.rem(19px);
  resize: none;
  
  &:focus {
    @extend %formStyle-focus;
  }
  
  &--white {
    background-color: vars.$white-color;
	
	&:focus {
	  background-color: vars.$white-color;
	}
  }  
}

.form-group {
  margin-bottom: mixins.rem(32px);
  position: relative;
  
  @media only screen and (max-width: media.$small) {
    margin-bottom: mixins.rem(27px);
  }
  
  .font-icon {
    color: vars.$gray-300-color;
	font-size: mixins.rem(17px);
    margin: auto 0;
	@include mixins.position(absolute, $top: 0, $left: mixins.rem(38px), $bottom: 0);
	height: mixins.rem(16px);
	width: mixins.rem(16px);
	z-index: 1;
	
	@media only screen and (max-width: media.$small) {
	  font-size: mixins.rem(16px);
	  left: mixins.rem(33px);
	}
  }
}

.help-block {
  position: absolute;
  font-size: mixins.rem(12px);
  line-height: 1.4;
  padding-top: mixins.rem(5px);
  padding-left: mixins.rem(6px);
  
  @media only screen and (max-width: media.$small) {
    font-size: mixins.rem(11px);
  }
}

.with-errors {
  color: vars.$red-color;
}

.has-error input,
.has-error textarea,
.has-error input:focus,
.has-error textarea:focus {
  border-color: vars.$red-color;
}

#validator-contact {
  font-size: mixins.rem(14px);
  margin-top: mixins.rem(16px);
}

.form-control::-webkit-input-placeholder {
  color: vars.$gray-300-color;
}

.form-control::-moz-placeholder {
  color: vars.$gray-300-color;
}

.form-control:-ms-input-placeholder {
  color: vars.$gray-300-color;
}

.form-control::-ms-input-placeholder {
  color: vars.$gray-300-color;
}

.form-control::placeholder {
  color: vars.$gray-300-color;
}

input:invalid,
textarea:invalid {
  outline: none !important;
}

// Checkbox
.custom-control-input {
  &:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 mixins.rem(2px) rgba(vars.$tone-color, 0.25);
  }

  &:focus:not(:checked) ~ .custom-control-label::before {
    border-color: vars.$tone-color;
  }

  &:not(:disabled):active~.custom-control-label::before {
    border-color: vars.$white-color;
    background-color: transparent;
  }
  
  &:checked~.custom-control-label::before {
    border-color: vars.$tone-color;
    background-color: vars.$tone-color;
  }
}

.custom-control-label {
  line-height: 1.55;
  padding-left: mixins.rem(8px);
  
  &::before {
    background-color: transparent;
    border: 1px solid vars.$gray-200-color;
  }	
}

// Select
select,
.custom-select {
  @extend %formStyle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.1rem center/10px 16px;
  
  &:focus {
    @extend %formStyle-focus;
  }
  
  option {
    color: vars.$black-color;
  }
}

// Dropdown
.dropdown {
  &-menu {
    border: 0;
    border-radius: vars.$border-rounded-10;
    box-shadow: 0 mixins.rem(8px) mixins.rem(40px) rgba(vars.$gray-300-color, .25);
    color: vars.$gray-400-color;
    font-size: mixins.rem(15px);
	
	&::before {
	  content: '';
	  border-left: mixins.rem(6px) solid transparent;
      border-right: mixins.rem(6px) solid transparent;
      border-bottom: mixins.rem(6px) solid vars.$white-color;
	  height: 0;
	  @include mixins.position(absolute, $top: mixins.rem(-6px), $left: mixins.rem(17px));
	  width: 0;
	}
  }
  
  &.dropup {
    .dropdown-menu {
      &::before {
	    border-left: mixins.rem(6px) solid transparent;
        border-right: mixins.rem(6px) solid transparent;
	    border-top: mixins.rem(6px) solid vars.$white-color;
        border-bottom: mixins.rem(6px) solid transparent;
	    top: auto;
	    bottom: mixins.rem(-12px);
	  }
	}  
  }
}

// Progress
.progress {
  background-color: vars.$gray-200-color;
  border-radius: mixins.rem(16px);
  height: mixins.rem(24px);
  margin-bottom: mixins.rem(24px);
  overflow: inherit;
  position: relative;
  text-align: right;
  
  @media only screen and (max-width: media.$small) {
    margin-bottom: mixins.rem(16px);
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &-bar {
    background-color: vars.$tone-color;
	border-radius: mixins.rem(16px);
	overflow: hidden;
	position: relative;
	width: 0%;
	z-index: 1;
  }
  
  .progress-text {
    @include mixins.flex($align: center, $justify: space-between);
	height: 100%;
	padding-left: mixins.rem(13px);
	padding-right: mixins.rem(13px);
	@include mixins.position(absolute, $top: 0, $left: 0);
	width: 100%;
	z-index: 1;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  .progress-text span:nth-child(2) {
    float: right;
  }
}

// Badges
.badge {
  font-size: mixins.rem(15px);
  font-weight: vars.$weight-400;
  border-radius: mixins.rem(160px);
  padding: mixins.rem(8px) mixins.rem(16px);
  
  @media only screen and (max-width: media.$small) {
    font-size: mixins.rem(14px);
  }
  
  &--light {
    background-color: vars.$gray-50-color;
	color: vars.$black-color;
  }

  &--gray {
    background-color: vars.$gray-200-color;
	color: vars.$black-color;
  }
  
  &--dark {
    background-color: vars.$black-color;
	color: vars.$white-color;
  } 
 
  &--blue {
    background-color: vars.$tone-color;
	color: vars.$white-color;
  }
  
  &--blue-gradient {
    background-image: vars.$gradient-1;
	color: vars.$white-color;
  }  
  
  &--aqua {
    background-color: vars.$tone-additional-color;
	color: vars.$white-color;
  }  
  
  &--red {
    background-color: vars.$red-color;
	color: vars.$white-color;
  }
}

// Tooltips
.tooltip {
  font-family: vars.$font-body;  
  
  &-inner {
    max-width: mixins.rem(200px);
    padding: mixins.rem(4px) mixins.rem(9px) mixins.rem(4px);
    background-color: vars.$black-color;
    border-radius: mixins.rem(4px);
	box-shadow: 0 mixins.rem(16px) mixins.rem(32px) rgba(vars.$gray-300-color, .25), 
                0 mixins.rem(2px) mixins.rem(16px) rgba(vars.$gray-300-color, .5);
  }
  
  &.show {
    opacity: 1;
  }
}

.bs-tooltip-top .arrow::before, 
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-width: mixins.rem(5px) mixins.rem(5px) 0;
  border-top-color: vars.$black-color;
}

.bs-tooltip-right .arrow::before, 
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-width: mixins.rem(5px) mixins.rem(5px) mixins.rem(5px) 0;
  border-right-color: vars.$black-color;
}

.bs-tooltip-left .arrow::before, 
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-width: mixins.rem(5px) 0 mixins.rem(5px) mixins.rem(5px);
  border-left-color: vars.$black-color;
}

.bs-tooltip-bottom .arrow::before, 
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-width: 0 mixins.rem(5px) mixins.rem(5px);
  border-bottom-color: vars.$black-color;
}