@use "../variables/media";
@use "../variables/mixins";
@use "../variables/vars";

/* -----------------------------------------------------------------
    - General Styles
----------------------------------------------------------------- */

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

html {
  font-size: vars.$baseSystemFontSize;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-x: hidden;
}

body, html {
  font-size: mixins.rem(16px);
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: vars.$gray-50-color;
  color: vars.$black-color;
  font-family: vars.$font-body;
  font-size: mixins.rem(15px);
  font-weight: vars.$weight-400;
  line-height: 1.65;
  min-height: 100vh;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  
  @media only screen and (max-width: media.$small) {
    line-height: 1.6;
  }
}

html.is-scroll-disabled body {
  height: 100vh;
  overflow: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html.is-scroll-disabled {
    overflow: hidden;
  }
}

.no-scroll {
  overflow: hidden;
  -ms-overflow-style: none;
}

.no-scroll-height {
  overflow-x: hidden;
}

.svg-defs {
  position: absolute;
  height: 0;
  width: 0;
}