@use "../variables/media";
@use "../variables/mixins";
@use "../variables/vars";

/* -----------------------------------------------------------------
    - Other
----------------------------------------------------------------- */ 

// Bact to top
.back-to-top {
  border-top: mixins.rem(1px) solid vars.$black-color;
  border-left: mixins.rem(1px) solid vars.$black-color;
  cursor: pointer;
  height: mixins.rem(32px);
  opacity: .5;
  @include mixins.position(fixed, $right: mixins.rem(40px), $bottom: mixins.rem(30px));
  width: mixins.rem(32px);
  transform: rotate(45deg);
  transition: opacity .35s ease-out;
  z-index: 10;
  
  &:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: media.$medium) {
    height: mixins.rem(24px);
	width: mixins.rem(24px);
  }
  
  @media only screen and (max-width: media.$small) {
    display: none!important;
  }
}

.js-lines {
  overflow: hidden;
  
  div {
    overflow: hidden;
  }
}

.js-words div div {
  opacity: 0;
}

// Medium Zoom
.medium-zoom-overlay {
  background: vars.$white-color!important;
  z-index: 1104;
}
.medium-zoom-image {
  cursor: pointer!important;
  z-index: 1104;
  
  &--opened {
    border-radius: mixins.rem(1px);
	height: 100%;
  }
}
