@use "../variables/media";
@use "../variables/mixins";
@use "../variables/vars";

/* -----------------------------------------------------------------
    - Testimonials
----------------------------------------------------------------- */

@use "sass:math";

.swiper-container {
  .swiper-wrapper {
    min-height: 100%;
  }
}

.review-item {
  @include mixins.flex($direction: column);
  background-color: vars.$gray-100-color;
  background-image: url(../../icons/icon-quote.svg);
  background-repeat: no-repeat;
  background-position: right mixins.rem(30px) top mixins.rem(30px);
  border-radius: vars.$border-rounded-20;
  height: auto;
  padding: mixins.rem(30px) mixins.rem(30px) mixins.rem(24px);
  margin-top: mixins.rem(40px);

  @media only screen and (max-width: media.$small) {
    background-size: mixins.rem(25px);
	background-position: right mixins.rem(16px) top mixins.rem(16px);
    border-radius: #{math.div(vars.$border-rounded-20, 1.5)};
	padding: mixins.rem(16px);
  }

  &__caption {
    color: vars.$gray-400-color;
	line-height: 1.5;
  }

  &__caption:last-child {
    margin-bottom: 0;
  }

  .title {
    font-family: vars.$font-additional;
	font-size: mixins.rem(19px);
    margin-left: mixins.rem(88px);
	margin-bottom: mixins.rem(11px);

	@media only screen and (max-width: media.$small) {
	  font-size: mixins.rem(16px);
      margin-left: 0;
	  margin-top: mixins.rem(8px);
	  margin-bottom: mixins.rem(8px);
	}
  }

  .avatar {
    @include mixins.position(absolute, $top: mixins.rem(-38px));
  }
}

// Carousel pagination
.swiper-pagination  {
  margin-top: mixins.rem(24px);
  position: relative;
  line-height: 0;

  @media only screen and (max-width: media.$small) {
    margin-top: mixins.rem(16px);
  }
}

.swiper-pagination-bullet {
  background: vars.$gray-200-color;
  border-radius: mixins.rem(16px);
  opacity: 1;
  height: mixins.rem(10px);
  width: mixins.rem(10px);
  transition: width .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  @media only screen and (max-width: media.$small) {
    height: mixins.rem(6px);
    width: mixins.rem(6px);
  }

  &-active {
    background: vars.$tone-color;
	width: mixins.rem(20px);

	@media only screen and (max-width: media.$small) {
	  width: mixins.rem(12px);
	}
  }
}

.swiper-pagination-bullet {
  margin: 0 mixins.rem(5px);
}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}
