@use "../variables/media";
@use "../variables/mixins";
@use "../variables/vars";

/* -----------------------------------------------------------------
    - Timeline
----------------------------------------------------------------- */

.timeline {
  margin-top: mixins.rem(29px);
  padding-left: mixins.rem(8px);
  
  &__item {
    border-left-color: vars.$gray-200-color;
	border-left-width: 1px;
	border-left-style: solid;
    padding-bottom: mixins.rem(9px);
    padding-left: mixins.rem(22px);
    position: relative;
	
	&::before {
	  content: '';
	  background-color: vars.$tone-color;
	  box-shadow: 0 0 0 mixins.rem(3px) rgba(vars.$tone-color,.25);
	  border-radius: 50%;
	  @include mixins.position(absolute, $top: 0, $left: mixins.rem(-5px));
	  height: mixins.rem(10px);
	  width: mixins.rem(10px);
	}
	
	&:last-child {
	  border: 0;
	}
  }
  
  &__title {
    margin-bottom: 0;
	position: relative;
	top: mixins.rem(-5px);
  }
  
  &__period {
    color: vars.$gray-300-color;
    font-size: mixins.rem(14px);
  }
  
  &__description {
	margin-top: mixins.rem(8px);
	
	@media only screen and (max-width: media.$small) {
	  margin-top: mixins.rem(3px);
	}
  }
}