@use "../variables/media";
@use "../variables/mixins";
@use "../variables/vars";

/* -----------------------------------------------------------------
    - Typography
----------------------------------------------------------------- */

@use "sass:math";

h1, h2, h3, h4, h5, h6 {
  font-family: vars.$font-title;
  font-weight: vars.$weight-700;
  line-height: 1.3;
}

.title {
  &--h1 {
    font-size: mixins.rem(32px);
	margin-bottom: mixins.rem(17px);

	@media only screen and (max-width: media.$small) {
	  font-size: mixins.rem(28px);
	}
  }

  &--h2 {
    font-size: mixins.rem(28px);

	@media only screen and (max-width: media.$small) {
	  font-size: mixins.rem(24px);
	}
  }

  &--h3 {
    font-size: mixins.rem(24px);
	margin-bottom: mixins.rem(21px);

	@media only screen and (max-width: media.$small) {
	  font-size: mixins.rem(20px);
	  margin-bottom: mixins.rem(16px);
	}

  }

  &--h4 {
    font-size: mixins.rem(20px);
	margin-bottom: mixins.rem(13px);

	@media only screen and (max-width: media.$small) {
	  font-size: mixins.rem(16px);
	}
  }

  &--h5 {
    font-size: mixins.rem(16px);

	@media only screen and (max-width: media.$small) {
	  font-size: mixins.rem(15px);
	}
  }

  &--h6 {
    font-size: mixins.rem(12px);
  }

  &--center {
    text-align: center;
  }

  &--tone {
    color: vars.$tone-color;
  }

  &-icon {
    $size: mixins.rem(40px);
	margin-right: mixins.rem(8px);
	margin-top: mixins.rem(-4px);
	height: $size;
	width: $size;

	@media only screen and (max-width: media.$small) {
	  height: #{math.div($size, 1.2)};
	  width: #{math.div($size, 1.2)};
	}
  }

  &__separate {
    margin-bottom: mixins.rem(37px);
    position: relative;

    &::before {
      content: '';
	  background-color: vars.$tone-color;
	  border-radius: mixins.rem(8px);
	  height: mixins.rem(5px);
	  @include mixins.position(absolute, $left: 0, $bottom: mixins.rem(-17px));
	  width: mixins.rem(50px);
	  z-index: 1;
    }

    @media only screen and (max-width: media.$small) {
	  margin-bottom: mixins.rem(24px);

	  &::before {
	    height: mixins.rem(3px);
	    bottom: mixins.rem(-9px);
	    width: mixins.rem(48px);
      }
	}
  }
}

.first-title {
  @media only screen and (max-width: media.$large) {
	transition: all .3s ease-in-out;
  }
}

.open-menu .first-title {
  @media only screen and (max-width: media.$large) {
    padding-top: mixins.rem(41px);
  }

  @media only screen and (max-width: media.$small) {
    padding-top: 0;
  }
}

.weight {
  &--400 {
    font-weight: vars.$weight-400; //regular
  }
  &--500 {
    font-weight: vars.$weight-500; //medium
  }
  &--600 {
    font-weight: vars.$weight-600; //semi bold
  }
  &--700 {
    font-weight: vars.$weight-700; //bold
  }
}

.color {
  &--light {
    color: vars.$gray-300-color;
  }

  &--dark {
    color: vars.$black-color;
  }
}

.block-quote {
  font: {
	size: mixins.rem(21px);
	weight: vars.$weight-400;
	style: italic;
  }
  margin: mixins.rem(29px) 0;
  position: relative;
  line-height: 1.6;

  @media only screen and (max-width: media.$large) {
    padding-left: mixins.rem(61px);
  }

  @media only screen and (max-width: media.$small) {
    font-size: mixins.rem(18px);
	margin: mixins.rem(16px) 0;
	padding-left: 0;
	padding-top: mixins.rem(45px);

	p {
	  margin-bottom: mixins.rem(8px);
	}
  }

  &::before {
    background-image: url(../../icons/icon-quote.svg);
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
    content: '';
    height: mixins.rem(34px);
    margin: 0 auto;
	@include mixins.position(absolute, $top: 0, $left: mixins.rem(-54px));
    width: mixins.rem(34px);

	@media only screen and (max-width: media.$large) {
      left: 0;
	}
  }

  &__author {
    font: {
	  size: mixins.rem(16px);
	  style: normal;
    }
	display: block;
	margin-top: mixins.rem(9px);
	padding-left: mixins.rem(48px);
	position: relative;

	@media only screen and (max-width: media.$small) {
	  font-size: mixins.rem(14px);
	  margin-top: 0;
	  padding-left: mixins.rem(32px);
	}

	&::before {
	  content: '';
	  background-color: vars.$black-color;
	  height: mixins.rem(1px);
	  margin-bottom: auto;
	  margin-top: auto;
	  @include mixins.position(absolute, $top: 0, $left: 0, $bottom: 0);
	  width: mixins.rem(32px);

	  @media only screen and (max-width: media.$small) {
	    width: mixins.rem(16px);
	  }
	}
  }
}

a {
  color: vars.$tone-color;
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  transition: color .3s cubic-bezier(.72,.16,.345,.875);

  &:hover {
    color: vars.$tone-color;
	outline: none;
    text-decoration: underline;
  }

  &.decoration--none {
    text-decoration: none;
  }
}

.noGutters {
  &-Top {
    margin-top: 0!important;
  }
  &-Bottom {
    margin-bottom: 0!important;
  }
  &-Left {
    margin-left: 0!important;
  }
  &-Right {
    margin-right: 0!important;
  }
}

.description {
  color: vars.$gray-100-color;
  margin-bottom: mixins.rem(30px);
}

.foreword {
  color: vars.$gray-100-color;
  font-size: mixins.rem(18px);
}

img {
  max-width: 100%;
  -webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
}

iframe {
  background-color: vars.$black-color;
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
}

.cover {
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
  height: 100%;
  width: 100%;
}

::-moz-selection {background: transparent; color: vars.$tone-color;}
	 ::selection {background: transparent; color: vars.$tone-color;}
